<%- include ./partials/head %>
<body>
    <script src="/private/user.js"></script>
    <script src="/private/admin.js"></script>
    <div class="header" id="top">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/dash#top">Dash</a>
            <%_ if (local.user.status == "manage-users" || local.user.status == "invite-only" ) { -%>
              <span class="pure-menu-heading">/</span><a class="pure-menu-heading" href="/dash/admin#top">Admin</a>
            <%_ } -%>
            <ul class="pure-menu-list is-right">
              <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout <small><br><%= local.user.email %></small></a></li>
              <li class="pure-menu-item"><a href="/dash/admin#manage" class="pure-menu-link">Manage <br>users</a></li>
            </ul>
        </div>
    </div>
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Admin Dashboard</h1>
            <p class="splash-subhead">Here you can manage your users, including reset passphrases, view and refresh tokens.</p>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content" id="invite">
            <%- include ./partials/adminInvite %>
        </div>
        <div class="content dark" id="manage">
            <%- include ./partials/adminUsers %>
        </div>
        <script>
          localStorage.setItem('id','<%= local.user.id %>');
          localStorage.setItem('token','<%= local.user.token %>');
          localStorage.setItem('expires','<%= local.user.expires %>');
          getMyToken();
      </script>
<%- include ./partials/footer %>