<%- include ./partials/head %>
<body>
    <script src="/private/user.js"></script>
    <script src="/private/admin.js"></script>
<div id="layout">
      <div class="splash-container" id="top">
          <div class="splash">
              <h1 class="splash-head">My Dashboard</h1>
              <p class="splash-subhead">Here you can manage your user profile, including reset your passphrase, view and refresh your token.</p>
          </div>
      </div>
      <div>
          <a href="#menu" id="menuLink" class="menu-link">
            <i class="fa fa-bars"></i>
          </a>
          <div id="menu" class="menu pure-menu pure-menu-vertical">
            <a class="pure-menu-heading" href="/dash#top">Dash</a>
              <ul class="pure-menu-list is-right">
                <%_ if (local.user.status == "manage-users" || local.user.status == "invite-only" ) { -%>
                  <li class="pure-menu-item"><a class="pure-menu-link" href="/dash/admin#top">Admin</a></li>
                <%_ } -%>
                  <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout <small><br><%= local.user.email %></small></a></li>
                  <li class="pure-menu-item"><a href="#manage" class="pure-menu-link">Users</a></li>
              </ul>
          </div>
      </div>
      <div id="main" class="content-wrapper">
        <div class="content" id="invite">
            <%- include ./partials/adminInvite %>
        </div>
        <div class="alert is-center" id="alert-message"><% if (message.length > 0) { %><%- message %><% } %></div>
        <div class="content dark" id="manage">
            <%- include ./partials/adminUsers %>
        </div>
        <script>
          localStorage.setItem('id','<%= local.user.id %>');
          localStorage.setItem('token','<%= local.user.token %>');
          localStorage.setItem('expires','<%= local.user.expires %>');
          getMyToken();
      </script>
<%- include ./partials/footer %>