<div class="pure-u-1 is-center">
    <h2 class="content-head is-center">Manage Users</h2>
    <p>
    <%_ if (local.page.prev) { _%> 
       <a class="pure-button" href="/dash/admin/<%= local.page.prev %>#manage">Back</a>
    <%_ } _%>
    <%_ if (local.page.next) { _%> 
        <a class="pure-button" href="/dash/admin/<%= local.page.next %>#manage">Next</a>
    <%_ } _%>
    </p>
</div>
<table class="pure-table">
    <thead>
        <tr>
            <th>Email / Impersonate</th>
            <th>Status</th>
            <th style="width:40%">Token</th>
            <th>Token Expires</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody>
      <%_ for(var i=0; i<local.users.length; i++) { _%>
        <tr id="<%- local.users[i].dataValues.id _%>">
            <td><a href="/dash/admin/user/<%= local.users[i].dataValues.id %>"><%- local.users[i].dataValues.email %></a></td>
            <td>
                <form class="pure-form is-center">
                    <select class="pure-input-1" id="status-<%= local.users[i].dataValues.id _%>" name="status" onchange="updateStatusById('<%= local.users[i].dataValues.id _%>',document.querySelector('#status-<%= local.users[i].dataValues.id %>').value);">
                        <option value=""<% if(!local.users[i].dataValues.status || local.users[i].dataValues.status == '' ) { %>selected="true"<% } %>>Disabled</option>
                        <option value="active" <% if(local.users[i].dataValues.status == 'active') { %>selected="true"<% } %>>Active</option>
                        <option value="invite-only" <% if(local.users[i].dataValues.status == 'invite-only') { %>selected="true"<% } %>>Invite New Users</option>
                        <option value="manage-users" <% if(local.users[i].dataValues.status == 'manage-users') { %>selected="true"<% } %>>Manage Users</option>
                    </select>
                </form>
            </td>
            <td>
                <form class="pure-form is-center">
                    <input class="pure-input-1" type="text" onclick="this.select()" name="token" readonly="true" value="<%= local.users[i].dataValues.token _%>">
                </form>
            </td>
            <td>
                <span class="<% if(new Date(local.users[i].dataValues.expires).getTime() < new Date().getTime()) { _%>red<% } %>"><%= new Date(local.users[i].dataValues.expires).toISOString().slice(0, 19).replace('T', ' ') %>
                <form class="pure-form">
                    <button class="pure-button" title="Expire Token" onclick="expireById('<%= local.users[i].dataValues.id _%>'); location.reload();"><i class="fa fa-remove"></i></button>
                </form>
            </td>
            <td>
                <%= new Date(local.users[i].dataValues.createdAt).toISOString().slice(0, 19).replace('T', ' ') %>
                <form class="pure-form">
                    <button class="pure-button" title="Delete User" onclick="deleteById('<%= local.users[i].dataValues.id %>');"><i class="fa fa-remove"></i></button>
                </form>
            </td>
            <td>
                <%= new Date(local.users[i].dataValues.updatedAt).toISOString().slice(0, 19).replace('T', ' ') %>
                <form class="pure-form"><button class="pure-button" title="Save" onclick="updateStatusById('<%= local.users[i].dataValues.id _%>',document.querySelector('#status-<%= local.users[i].dataValues.id %>').value);"><i class="fa fa-save"></i></button></form>
            </td>
        <tr>
      <%_ } _%>
    </tbody>
</table>
<div class="pure-u-1 is-center">
    <p>
    <%_ if (local.page.prev) { _%> 
       <a class="pure-button" href="/dash/admin/<%= local.page.prev %>#manage">Back</a>
    <%_ } _%>
    <%_ if (local.page.next) { _%> 
        <a class="pure-button" href="/dash/admin/<%= local.page.next %>#manage">Next</a>
    <%_ } _%>
    </p>
</div>
<big>&nbsp;</big>
